output/
data_raw/
data_weather/
example_data/
data/
sig/
GIS/
wc0.5/
archive/
data_csv-Copie/
data_csv/
DB_import/
outputImport/
data_cache/
export/
data_various/
talk/
lpi_temp/

.Rproj.user
.Rhistory


rmd/#*.rmd#


*.r~
*.dbf
*.prj
*.qpj
*.shp
*.shx
*.pdf
*.pjg
*.zip
*.gz
*.Rdata
*.rds
*.r#
*.rmd~
*.nc
*.org
*.org~
*.zip
_*.sql

my*



.#*
*.html


*_cache/



*.gif
library/pw.txt
rmd/importing_data_update_files/*
documentations/importing_dataGPS_files/*/*
analysis/movebank_data_tikei.csv
analysis/movebank_ind.csv
*.bak
*.csv
*.png
*.jpg
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.tex~
*.toc
*.jpeg
*.tmp
*.synctex(busy)
*.svg
*.txt#
*.txt~
test.r
*Rproj